apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-nscdtngf
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-nscdtngf:036587fe5652192e3ff9deda9628ed99fcfad78d@sha256:46ba29e833e11d0fafa0ec1b74380bcafa957037d8d0753fed03bfb328aa0339
        name: container-image  
